.container{
    display: flex;
    justify-content: space-evenly;
}
#project_cards{
    display: flex;
    justify-content: center;
    align-content: space-between;
}

#block2{
    display: flex;
    flex-direction: column;
    background-color: #ca3b3b;
    padding: 0% 10% 0% 10%;
}

#block1,#block3{
    background-color: rgb(119, 145, 170);
    padding: 0% 10% 0% 10%;
}

#block3{
    display: flex;
    flex-direction: column;
}

#project1,#project2,#project3{
    padding:10px;
}

#project_cards>div{
    width: 300px;
    border: 15px solid rgb(150, 34, 5);
    padding: 50px;
    margin: 20px;
}
